*{
    padding: 0%; 
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    
}

body {
    display: center;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    margin: 5%;
    
    
}


.container {
    max-width: 500px;
    background-color: lightseagreen;
    padding: 24px;
    display: ;
    border-radius: 20px;
    border: 2px;
    flex-direction: column;
    justify-content: center;
    margin: 20%;
}

.a {color: black;}

.link {color:black
}

.img { 
    justify-content: center;
   

}

.bildet {
    justify-content: center;
    width: 100%;
   

}

